# ~/.config/starship.toml

# Define the prompt layout
# First line: username@hostname:directory (colored)
# Second line: prompt character ($)
format = """
$hostname\
$directory\
$git_branch\
$git_status\
$fill\
$python\
$cmd_duration\
$jobs\
$line_break\
$character\
"""

[fill]
symbol = " "
style = "bold cyan"

[python]
format = '[${pyenv_prefix}(${version} )(\($virtualenv\) )]($style)'

[git_branch]
style = 'fg:green'
symbol = 'Ôêò '
format = '[on](white) [$symbol$branch ]($style)'

[cmd_duration]
min_time = 500
style = 'fg:gray'
format = '[$duration]($style)'
